.footerclass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  background: #c09a48;
}

.footer__title {
  margin: 1rem 0;
  color: var(--color-text);
  flex-grow: 1;
  font-weight: bold;
  font-size: auto;
}